@import "reset.scss";

$black: #151618;
$white: #ffffff;
$brown: #754e29;
$opens: "Open sans";
$corm: Cormorant;

body {
    height: 100%;
    font-family: "Open sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1200px) {
        max-width: 992px;
    }
    @media (max-width: 992px) {
        max-width: 768px;
    }
    @media (max-width: 768px) {
        max-width: none;
    }
}

.header {
}

.main {
    flex: 1 1 auto;
}

.footer {
    flex: 0 0 auto;
}

.title {
    font-family: $corm;
    font-weight: 400;
    text-align: center;
    line-height: 100%;
    font-style: normal;
}

.button {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 150px;
    max-height: 50px;
    padding: 12px 40px;
    border: 1px solid $black;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    &:hover {
        background-color: $black;
        color: $white;
    }
}
// --------------

.header {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    font-style: normal;
    padding: 30px 0;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        transition: transform 0.2s ease;
        &:hover {
            transform: scale(1.2);
        }
        @media (max-width: 768px) {
            order: 2;
        }
    }

    &__burger {
        display: none;
        @media (max-width: 768px) {
            display: block;
            position: relative;
            width: 40px;
            span {
                display: block;
                width: 40px;
                position: absolute;
                height: 2px;
                background-color: $black;

                &:first-child {
                    transform: translateY(-9px);
                }

                &:last-child {
                    transform: translateY(9px);
                }
            }
        }
    }

    &__menu {
    }
    .menu {
        &__list {
            display: flex;
            align-items: center;
            gap: 0 50px;
        }

        &__item {
            &:after {
                content: "";
                display: block;
                height: 2px;
                margin-top: 5px;
                background-color: $black;
                transform: scaleX(0);
                transform-origin: 100%;
                transition: transform 0.3s ease;
            }
            &:hover:after {
                transform-origin: 0%;

                transform: scaleX(1);
            }
        }

        &__link {
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        &-link {
            margin-right: 20px;
            transition: transform 0.2s ease;
            &:hover {
                transform: scale(1.2);
            }

            &:nth-child(2) {
                margin-right: 70px;

                @media (max-width: 992px) {
                    margin-right: 50px;
                }
                @media (max-width: 425px) {
                    margin-right: 30px;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }

        @media (max-width: 768px) {
            order: 3;
        }
    }

    .header-burger-menu {
        font-family: Cormorant, sans-serif;
        font-weight: 400;
        &__inner {
            padding-top: 60px;
            transition: top 0.5s ease;
            background-color: $white;
            width: 60vw;
            position: absolute;
            z-index: 2;
            // margin: 0 auto;
            top: -200%;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 auto;
            @media (max-width: 425px) {
                width: 70vw;
            }
            @media (max-width: 320px) {
                width: 80vw;
            }
            .header__burger {
                // margin-bottom: 20px;
                position: absolute;
                top: 20px;
                right: 20px;
                span {
                    &:first-child {
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        transform: scale(0);
                    }
                    &:last-child {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
    .header-burger {
        &__menu {
            font-size: 24px;
        }

        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px 0;
            margin-bottom: 120px;
        }

        &__item {
        }

        &__link {
        }

        &__nav {
            font-family: "Open sans", sans-serif;
            font-size: 13px;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            gap: 35px 0;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
        }

        &__actions {
            position: relative;
            z-index: 3;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 70px;
        }
    }

    .header-burger-menu:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        transform: scaleY(0);
        left: 0;
        // background-color: rgba($color: #000000, $alpha: 0.5);
        // background-color: $black;
        background-color: rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease;
        transform-origin: 50% 0;
    }

    .header-burger-menu__inner.active {
        top: 0;
    }

    .header-burger-menu.active::before {
        transform: scaleY(1);
    }
}

.main {
}
.splashscreen {
    background: url(/img/MAIN-BG.jpg) no-repeat center bottom / cover;
    &__inner {
        padding-top: 250px;
        padding-bottom: 60px;
        @media (max-width: 992px) {
            padding-bottom: 50px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
        @media (max-width: 576px) {
            gap: 10px 0;
        }
    }

    &__title {
        font-size: 60px;
        text-align: left;
        color: $white;
        max-width: 790px;
        @media (max-width: 992px) {
            max-width: 685px;
        }
        @media (max-width: 768px) {
            font-size: 40px;
            max-width: 450px;
        }
        @media (max-width: 576px) {
            font-size: 24px;
            max-width: 340px;
        }
    }

    &__subtitle {
        font-size: 24px;
        line-height: 100%;
        color: $white;
        font-family: $corm;
        max-width: 557px;

        @media (max-width: 992px) {
            max-width: 450px;
        }
        @media (max-width: 768px) {
            max-width: 450px;
        }
        @media (max-width: 576px) {
            font-family: $opens;
            font-size: 13px;
            max-width: 340px;
        }
    }
}

.quote {
    &__inner {
        padding: 150px 0;
        @media (max-width: 992px) {
            padding-top: 120px;
            padding-bottom: 135px;
        }
        @media (max-width: 768px) {
            padding: 60px 0;
        }
        @media (max-width: 576px) {
            padding-top: 70px;
            padding-bottom: 80px;
        }
    }

    &__block {
        max-width: 750px;
        margin: 0 auto;
        font-size: 40px;
        line-height: 100%;
        font-family: $corm;
        font-weight: 300;
        font-style: italic;
        text-align: center;
        @media (max-width: 992px) {
            max-width: 640px;
        }
        @media (max-width: 768px) {
            max-width: 375px;
            font-family: $opens;
            font-size: 16px;
            font-weight: 300;
            font-style: italic;
        }
        @media (max-width: 576px) {
            max-width: 340px;
        }
    }
}

.collection {
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 60px 0;
        @media (max-width: 992px) {
            gap: 40px 0;
        }
        @media (max-width: 768px) {
            gap: 30px 0;
        }
        @media (max-width: 576px) {
            gap: 0;
        }
    }

    &__title {
        font-size: 40px;
        @media (max-width: 992px) {
        }
        @media (max-width: 768px) {
        }
        @media (max-width: 576px) {
            font-size: 24px;
        }
    }

    .cards {
        display: flex;
        align-items: center;
        gap: 0 40px;
        @media (max-width: 992px) {
            gap: 0;
        }
        @media (max-width: 768px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width: 576px) {
            gap: 35px 0;
        }
        .card {
            max-width: 210px;
            max-height: 250px;
            @media (max-width: 576px) {
                max-width: 200px;
                max-height: 200px;
            }
            @media (max-width: 430px) {
                max-width: 140px;
                max-height: 200px;
            }
            &__content {
                display: flex;
                flex-direction: column;
                gap: 10px 0;
            }

            &__image {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.3s ease;
                    &:hover {
                        transform: scale(1.1);
                    }
                    @media (max-width: 768px) {
                        &:hover {
                            transform: scale(1);
                        }
                    }
                }
            }

            &__title {
                font-size: 24px;
            }
        }
    }
}

.reviews {
    padding: 150px 0;
    @media (max-width: 992px) {
        padding: 120px 0;
    }
    @media (max-width: 768px) {
        padding: 60px 0;
    }
    @media (max-width: 576px) {
        padding: 80px 0;
    }
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 60px 0;
        @media (max-width: 768px) {
            gap: 50px 0;
        }
        @media (max-width: 576px) {
            gap: 30px 0;
        }
    }

    &__title {
        font-size: 40px;
        @media (max-width: 576px) {
            font-size: 24px;
        }
    }

    &-block {
        &__content {
            display: flex;
            justify-content: center;
            gap: 0 25px;
            @media (max-width: 992px) {
                flex-wrap: wrap;
                gap: 30px 75px;
            }
            @media (max-width: 768px) {
                gap: 30px 20px;
            }
            @media (max-width: 576px) {
                gap: 30px 0;
            }
            .review {
                display: flex;
                flex-direction: column;
                gap: 10px 0;
                max-width: 280px;

                @media (max-width: 576px) {
                    max-width: 340px;

                    &:nth-child(3),
                    &:last-child {
                        display: none;
                    }
                }
                &__text {
                    font-family: $opens;
                    font-weight: 300;
                    font-style: italic;
                    font-size: 16px;

                    @media (max-width: 576px) {
                        line-height: 150%;
                    }
                }

                &__author {
                    font-family: $opens;
                    font-weight: 600;
                    font-size: 20px;
                }
            }
        }
    }
}

.blogs {
    padding: 150px 0;

    @media (max-width: 992px) {
        padding: 120px 0;
    }
    @media (max-width: 768px) {
        padding: 60px 0;
    }
    @media (max-width: 576px) {
        padding: 50px 0;
    }

    &__button {
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
        max-width: 150px;
        max-height: 50px;
        padding: 12px 40px;
        border: 1px solid $black;
        transition:
            background-color 0.3s ease,
            color 0.3s ease;
        &:hover {
            background-color: $black;
            color: $white;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 60px 0;
        @media (max-width: 576px) {
            gap: 30px 0;
        }
    }

    &__title {
        font-size: 40px;
        @media (max-width: 576px) {
            font-size: 24px;
        }
    }
}

.blog {
    // display: flex;
    // gap: 60px 40px;
    // align-items: center;
    // justify-content: center;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 60px;
    @media (max-width: 992px) {
        gap: 70px 20px;
    }
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
    @media (max-width: 576px) {
        gap: 30px 0;
    }
    justify-items: center;
    &__card {
        display: inline-flex;
        gap: 0 20px;
        position: relative;

        @media (max-width: 425px) {
            flex-direction: column;
            gap: 10px 0;
            &:nth-child(3),
            &:last-child {
                display: none;
            }
        }
    }

    &__image {
        max-height: 180px;
        max-width: 250px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__link {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 425px) {
            gap: 10px 0;
        }
    }

    &__card-title {
        font-size: 24px;
        text-align: left;
        max-width: 210px;
    }

    &__card-author {
        font-size: 13px;
    }

    &__card-link {
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 0 8px;
        &:after {
            content: "";
            display: inline-block;
            width: 5px;
            height: 10px;
            background: url(/img/ICONS/ARROW-RIGHT.svg) no-repeat center center / cover;
        }
    }
}

.subscribe {
    background: url(/img/FORM-BG.png) center center / cover;
    &__inner {
        padding: 120px 0;
        display: flex;
        flex-direction: column;
        gap: 60px 0;
        @media (max-width: 768px) {
            padding: 60px 0;
            gap: 30px 0;
        }
        @media (max-width: 576px) {
            padding: 50px 0;
        }
    }

    &__title {
        font-size: 40px;

        @media (max-width: 576px) {
            font-size: 24px;
        }
    }

    &__subtitle {
        font-size: 20px;
        line-height: 133%;
        margin: 0 auto;
        max-width: 780px;
        text-indent: 10px;
        @media (max-width: 992px) {
            max-width: 640px;
            line-height: 150%;
        }
        @media (max-width: 768px) {
            max-width: 460px;
            line-height: 140%;
            font-size: 13px;
            text-align: center;
        }
    }
}

.form {
    display: flex;
    max-width: 580px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 25px;
    @media (max-width: 768px) {
        gap: 0 20px;
    }
    @media (max-width: 576px) {
        gap: 0 15px;
    }
}
.input {
    background-color: transparent;
    width: 439px;
    font-family: $opens;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    border-bottom: 1px solid #b8b58b;

    @media (max-width: 768px) {
        max-width: 324px;
    }
    @media (max-width: 576px) {
        max-width: 170px;
        text-align: center;
    }
}
.checkbox {
    display: flex;
    // align-items: center;
    align-items: flex-start;
    justify-content: center;
    gap: 0 10px;
    &__input {
    }

    &__text {
        font-size: 13px;
        line-height: 136%;
        font-weight: 300;
        max-width: 560px;

        @media (max-width: 768px) {
            max-width: 439px;
        }
        @media (max-width: 576px) {
            max-width: 320px;
            line-height: 139%;
        }
    }
}

.prioritise {
    padding: 150px 0;
    @media (max-width: 992px) {
        padding: 120px 0;
    }
    @media (max-width: 768px) {
        padding: 60px 0;
    }
    @media (max-width: 576px) {
        padding: 80px 0;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px 0;
    }

    &__title {
        font-size: 40px;
        @media (max-width: 576px) {
            font-size: 24px;
        }
    }

    &__cards {
        display: flex;
        gap: 0 50px;
        // align-items: start;
        justify-content: center;
        @media (max-width: 992px) {
            flex-wrap: wrap;
            gap: 30px 210px;
        }
        @media (max-width: 768px) {
            gap: 30px 135px;
        }
        @media (max-width: 576px) {
            flex-direction: column;
            gap: 40px 0;
        }
    }

    &__card {
        max-width: 250px;
        max-height: 178px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 35px 0;

        @media (max-width: 576px) {
            max-height: 128px;
        }
        .prioritise-card {
            &__content {
                display: flex;
                flex-direction: column;
                gap: 10px 0;
            }

            &__title {
                font-weight: 300;
                font-size: 30px;
                @media (max-width: 576px) {
                    font-size: 20px;
                    line-height: 150%;
                }
            }

            &__subtitle {
                font-size: 20px;
                font-weight: 600;
                max-height: 27px;

                @media (max-width: 576px) {
                    font-size: 10px;
                    font-weight: 400;
                }
            }

            &__image {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.footer {
    padding: 100px 0;
    background-color: #f7f2ea;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media (max-width: 992px) {
         gap: 0 70px;
         align-items: start;
        }
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px 0;
        }
        @media (max-width: 576px) {
            gap: 40px 0;
        }
    }

    &__content-1 {
        display: flex;
        justify-content: space-between;
        gap: 0 210px;
        @media (max-width: 992px) {

        }
        @media (max-width: 768px) {
            gap: 0 135px;
        }
        @media (max-width: 576px) {
           gap: 0 85px;
        }
    }

    &__content-2 {
        display: flex;
        align-items: center;
        gap: 0 40px;
        @media (max-width: 992px) {
            flex-direction: column;
            gap: 50px 0;
        }
    }
}

.products {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    &__title {
        text-align: left;
        font-size: 24px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }

    &__item {
        font-size: 16px;
        transition: transform 0.3s ease;
        transform-origin: left;
        &:hover {
            transform: scale(1.1);
        }
    }

    &__link {
    }
}
.company {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    &__title {
        font-size: 24px;
        text-align: left;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }

    &__item {
        font-size: 16px;
        transition: transform 0.3s ease;
        transform-origin: left;
        &:hover {
            transform: scale(1.1);
        }
    }

    &__link {
    }
}
.footer-quote {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    q {
        max-width: 260px;
        font-size: 16px;
        @media (max-width: 768px) {
        
            max-width: 460px;
        }
    }
    &__author {
        font-size: 12px;
        line-height: 120%;
    }
}
.contacts {
    &__inner {
        display: flex;
        flex-direction: column;
        
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 50px 0;
             
    @media (max-width: 992px) {
        
    }
    @media (max-width: 768px) {
        gap: 20px 0;
    }
    @media (max-width: 576px) {
       
    }
    }

    &__title {
        font-size: 24px;
        text-align: left;
             
    @media (max-width: 992px) {
        
    }
    @media (max-width: 768px) {
        text-align: center;
    }
    @media (max-width: 576px) {
       
    }
    }

    &__subtitle {
        font-size: 13px;
        max-width: 270px;

             
    @media (max-width: 992px) {
        
    }
    @media (max-width: 768px) {
        max-width: 460px;
        text-align: center;
    }
    @media (max-width: 576px) {
       
    }
    }

    .socials{
        display: flex;
        align-items: center;
        gap: 0 20px;
        align-self: flex-end;
        @media (max-width: 576px) {
        margin-top: 20px;
        align-self: center;
        }
        .social{
            transition: transform 0.3s ease;

            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

.touch {
    font-size: 13px;
    display: flex;
    gap: 40px;
    align-items: center;
    &__logo {
    }

    .touch__contacts {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px 0;
        a {
            transition: transform 0.3s ease;
            &:hover{
                transform: scaleX(1.1);
            }
            &:first-child {
                display: flex;
                align-items: center;
                gap: 0 10px;
                &:before {
                    content: "";
                    display: inline-block;
                    width: 22px;
                    height: 16px;
                    background: url(/img/ICONS/MAIL.svg) no-repeat center center / cover;
                }
            }
            &:last-child {
                display: flex;
                align-items: center;
                gap: 0 10px;
                &:before {
                    content: "";
                    display: inline-block;
                    width: 21px;
                    height: 21px;
                    background: url(/img/ICONS/phone.svg) no-repeat center center / cover;
                }
            }
        }
    }
}


